@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/Inter/inter-regular.woff2"),
       url("../../fonts/Inter/inter-regular.woff");
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}