$primary-font: "Inter", "Arial", sans-serif;


$primary-color: #4452fe;
$primary-color-light: #4578FB;
$secondary-color: #02e4c0;

$bg-color: #181818;
$bg-color-light: #5c5c5c;

$primary-text-color: #000000;
$secondery-text-color: #5C5C5C;

$border-light: #565656;

$tablet-width: 768px;
$desktop_width: 1220px;