.hero__title {
  position: relative;
  padding-bottom: 40px;
  margin: 0;

  font-size: 52px;
  line-height: 62px;
  text-align: center;

  &::after {
    content: "fast";
    display: block;
    width: 210px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    font-size: 35px;
    white-space: nowrap;
    animation: (text-show 5s infinite steps(3));

    color: $secondary-color;
  }
}

@keyframes text-show  { 
  20% { 
    content: "smart"; 
  } 

  40% { 
    content: "effectively"; 
  } 

  65% { 
    content: "on the team "; 
  } 

  85% {
    content: "independently";
  }
} 

.hero__text {
  margin: 20px 25px 57px 25px;

  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.hero__list {
  @include list();
  width: 181px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.hero__list-item {
  margin-bottom: 21px;
}

.hero__item-link {
  width: 181px;
}

.hero__picture {
  position: relative;
  z-index: 5;
  text-align: center;

  &::after {
    content: "";
    display: block;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;

    background: linear-gradient(to top, #101010, transparent);
  }
}


@media (min-width: $tablet-width) {
  .hero__title {
    font-size: 80px;
    line-height: 88px;
  }

  .hero__text {
    max-width: 593px;
    margin: 27px auto 85px auto;

    font-size: 20px;
    line-height: 30px;
  }

  .hero__list {
    display: flex;
    justify-content: center;
    gap: 35px;
  }
}