.main-header {
  @include container();
  background-color: $bg-color;
}

.main-header__top {
  padding-top: 20px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center
}


@media (max-width: 992px) {
  .main-header__nav {
    position: relative;

    &--closed .site-list {
      display: none;
    }

    &--opened .site-list {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 99;

      background-color: $bg-color;
    }

    &--nojs .site-list {
      display: block;
    }
  }
  
  .main-header__logo {
    @include link();
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
}
