.page {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 24px;
}

.page__body {
  margin: 0;
  padding: 0;

  background-color: $bg-color;
}

@media (min-width: $desktop-width) {
  .page__body-header {
    margin-bottom: 75px;
  }
}
