.site-list {
  @include list();
  padding-top: 65px;
  padding-bottom: 65px;

  text-align: center;
}

.site-list__link {
  @include link();
  display: block;
  padding-bottom: 30px;

  font-size: 30px;
  line-height: 45px;
  font-weight: 400;

  &:hover {
    color: $secondary-color;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 55px;
  }

  .site-list__link {
    font-size: 16px;
    line-height: 24px;
  }
}