.toggle {
  position: relative;
  border: none;

  &--open {
    width: 30px;
    height: 3px;

    background-color: #ffffff;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 40px;
      height: 3px;
      top: -9px;
      right: 0;
      transition: 0.5s;

      background-color: #ffffff;
    }

    &::before {
      width: 20px;
      top: 9px;

      background-color: #ffffff;
    }
  }

  &--close {
    width: 24px;
    height: 2px;

    background-color: transparent;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 2px;
      left: 0;
      top: 0;
      transition: 0.5s;

      background-color: #ffffff;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(135deg);
    }
  }

  &--nojs {
    display: none;
  }
}
